@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    background-image:url("bg-65e1b575664af170534291.png");
} 
header {
    display: flex;
    
    justify-content:space-around;

    align-items: center;
    ;
 
    text-decoration: none;
        
}
header .login{
    
    display:flex;
    flex-direction: line;
    align-items: center;
    gap:10px;
}
    a{ 
        text-decoration: none;
        color: #FFFFFF;
       
        
    }
    .menu{display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;}
    .home{
        display:flex;
        justify-content: space-between;
        justify-content: space-around;
        align-items: center;
    }
    .navigate{
        display:flex; 
        flex-direction: column;
        width:60px;
    }
    .home .textH{
        
       
    }

    .home .textH >h1{
        color: #ccdb19;
        font-size: 49px;
    }
    .home .textH >h2{
        color: #ffffff;
        font-size: 39px;
    }
    .home .textH .savoir{
        margin-top: 30px;
        background-color: #ccdb19;
        border:none;
        border-radius:3px;
        font-size: 13px;
        padding: 7px;
    }
    *, *:before, *:after {
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
    }

    .slider__navi {
    	position: absolute;
    	top: 50%;
    	right: 20px;
    	transform: translateY(-50%);
    	-webkit-transform: translateY(-50%);
    	-moz-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	-o-transform: translateY(-50%);
    	z-index: 999;

    }

    .slider__navi a {
    	display: block;
    	height: 6px;
    	width: 20px;
    	margin: 20px 0;
    	text-indent: -9999px;
    	box-shadow: none;
    	border: none;
    	background: rgba(0,0,0,0.2);
    }

    .slider__navi a.active {
    	background: rgba(255,255,255,1);
    }

    body {
    	position: relative;
    	font-size: 100%;
    	font-family: 'Montserrat', sans-serif;
    	font-weight: 400;
    	min-height: 100vh;
    }

    .flex__container {
    	position: absolute;
    	top: 15%;
    	left: 0;
    	display: flex;
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	-webkit-flex-flow: row wrap;
    	-moz-flex-flow: row wrap;
    	-ms-flex-flow: row wrap;
    	-o-flex-flow: row wrap;
    	flex-flow: row wrap;
    	-webkit-justify-content: flex-start;
    	-moz-justify-content: flex-start;
    	-ms-justify-content: flex-start;
    	-o-justify-content: flex-start;
    	justify-content: flex-start;
    	height: 100vh;
    	width: 100%;
    	z-index: 1;
    }

    .flex__container.flex--active {
    	z-index: 2;
    }

    .text--sub {
    	font-size: 12px;
    	letter-spacing: 0.5rem;
    	text-transform: uppercase;
    	margin-bottom: 40px;
    }
    .text--medium{
    	font-family: 'Poppins', sans-serif;
    	font-size: 3em;
    	font-weight: 700;
    	color: #fcfcfc;
      margin-left: -8px;
    }


    .text--big {
    	font-family: 'Poppins', sans-serif;
    	font-size: 3em;
    	font-weight: 700;
    	color: #ccdb19;
      margin-left: -8px;
    }

    .text--normal {
    	font-size: 13px;
    	color: #ccdb19;
    	line-height: 22px;
    	margin-top: 25px;
    }

    .text__background {
    	font-family: 'Poppins', sans-serif;
    	position: absolute;
    	left: 72px;
    	bottom: -60px;
    	color: rgba(0,0,0,0.05);
    	font-size: 170px;
    	font-weight: 700;
    }

    .flex__item {
    	height: 100vh;
    	color: #fff;
    	transition: transform 0.1s linear;
    }

    .flex__item--left {
    	display: flex;
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	align-items: center;
    	-webkit-align-items: center;
    	-moz-align-items: center;
    	-ms-align-items: center;
    	width: 65%;
    	transform-origin: left bottom;
    	transition: transform 0.1s linear 0.4s;
    	opacity: 0;
    	position: relative;
    	overflow: hidden;
    }

    .flex__item--right {
    	width: 35%;
    	transform-origin: right center;
    	transition: transform 0.1s linear 0s;
    	opacity: 0;
    }

    .flex--preStart .flex__item--left,
    .flex--preStart .flex__item--right,
    .flex--active .flex__item--left,
    .flex--active .flex__item--right {
    	opacity: 1;
    }

    /* Piplup */

    .flex--piplup .flex__item--left {
    	background-image: url("bg-65e1b575664af170534291.png");
    }

    .flex--piplup .flex__item--right {
    	background-image: url("bg-65e1b575664af170534291.png") ;
    }

    /* Pikachu */

    .flex--pikachu .flex__item--left {
    	background-image:url(bg-65e1b575664af170534291.png)
    }

    .flex--pikachu .flex__item--right {
    	background-image: url(bg-65e1b575664af170534291.png);


    }

    /* Blaziken */

    .flex--blaziken .flex__item--left {
    	background-image: url("bg-65e1b575664af170534291.png");
    }

    .flex--blaziken .flex__item--right {
    	background-image:url(bg-65e1b575664af170534291.png) ;
    }


    .flex__content {
    	margin-left: 80px;
    	width: 55%;
    	opacity: 1;
    	transform: translate3d(0,0,0);
    	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
    }

    .pokemon__img {
    	position: absolute;
    	bottom: 20%;
    	right: 7%;
    	max-height: 30vw;
    	opacity: 1;
    	transform: translate3d(0,0,0);
    	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
    }
    .Produit1__img{
    	position: absolute;
    	bottom: 5%;
    	right: 10%;
    	max-height: 50vw;
    	opacity: 1;
    	transform: translate3d(0,0,0);
    	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);

    }
    .Farmer__img{
    	position: absolute;
    	bottom: 0%;
    	right: 10%;
    	max-height: 60vw;
    	opacity: 1;
    	transform: translate3d(0,0,0);
    	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);

    }

    /* Animate-START point */

    .flex__container.animate--start .flex__content {
    	transform: translate3d(0,-200%,0);
    	opacity: 0;
    }

    .flex__container.animate--start .Produit1__img {
    	transform: translate3d(-200px,0,0);
    	opacity: 0;
    }
    .flex__container.animate--start .pokemon__img {
    	transform: translate3d(-200px,0,0);
    	opacity: 0;
    }
    .flex__container.animate--start .Farmer__img {
    	transform: translate3d(-200px,0,0);
    	opacity: 0;
    }


    /* Animate-END point */

    .flex__container.animate--end .flex__item--left {
    	transform: scaleY(0);
    }

    .flex__container.animate--end .flex__item--right {
    	transform: scaleX(0);
    }

    .flex__container.animate--end .flex__content {
    	transform: translate3d(0,200%,0);
    	opacity: 0;
    }

    .flex__container.animate--end .Produit1__img {
    	transform: translate3d(200px,0,0);
    	opacity: 0;
    }
    .flex__container.animate--end .pokemon__img {
    	transform: translate3d(200px,0,0);
    	opacity: 0;
    }
    .flex__container.animate--end .Farmer__img {
    	transform: translate3d(200px,0,0);
    	opacity: 0;
    }
