@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    background-image:url("bg-65e1b575664af170534291.png");
} 
header {
    display: flex;
    
    justify-content:space-around;

    align-items: center;
    ;
 
    text-decoration: none;
        
}
header .login{
    
    display:flex;
    flex-direction: line;
    align-items: center;
    gap:10px;
}
    a{ 
        text-decoration: none;
        color: #FFFFFF;
       
        
    }
    .menu{display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;}
    .home{
        display:flex;
        justify-content: space-between;
        justify-content: space-around;
        align-items: center;
    }
    .navigate{
        display:flex; 
        flex-direction: column;
        width:60px;
    }
    .home .textH{
        
       
    }

    .home .textH >h1{
        color: #ccdb19;
        font-size: 49px;
    }
    .home .textH >h2{
        color: #ffffff;
        font-size: 39px;
    }
    .home .textH .savoir{
        margin-top: 30px;
        background-color: #ccdb19;
        border:none;
        border-radius:3px;
        font-size: 13px;
        padding: 7px;
    }
    